@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-heading: "Montserrat", serif;
  --font-heading-weight: 900;
  --font-subheading: "Montserrat", sans-serif;
  --font-subheading-weight: 600;
  --font-body: "Inter", sans-serif;
  --color-blackDenim: #191c27;
}

:root {
  color-scheme: dark;
  --bg: #121827;
  --bg-different: #040e25;
  --text: #f8fafc;
  --border: #334155;
}

html:not(.dark) {
  color-scheme: light;
  --bg: #f8fafc;
  --bg-different: #e2e8f0;
  --text: #0f172a;
  --border: #cbd5e1;
}

body,
html {
  background-color: var(--bg);
  color: var(--text);
}

footer {
    background-color: var(--bg);
    color: var(--text);
    border-color: var(--border);
}

span {
    background-color: var(--bg-different);
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
}

h1,
h2,
th {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
  text-transform: uppercase;
  color: var(--text);
  background: var(--bg-different);
}

h3,
h4,
h5,
h6,
a,
select {
  font-family: var(--font-subheading);
  font-weight: var(--font-subheading-weight);
  text-transform: uppercase;
}

p,
label,
input,
textarea,
td,
li,
option {
  font-family: var(--font-body);
  color: var(--text);
}
